# macOS system files
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Python bytecode and cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment directories (adjust as needed)
env/
venv/
ENV/
.env/
.venv/
env.bak/
venv.bak/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Translations
*.mo
*.pot

# Jupyter Notebook checkpoints and temporary files
.ipynb_checkpoints/

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# Celery beat schedule file
celerybeat-schedule
celerybeat.pid

# dotenv
.env

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# Sphinx documentation
docs/_build/

# mkdocs documentation
/site

# mypy cache
.mypy_cache/
.dmypy.json
dmypy.json


# Virtual environment directories 
env/
venv/
ENV/
.env/
.venv/
env.bak/
venv.bak/
